# Permanent Visa

In [1]:
from datascience import *
import numpy as np

In [9]:
Visa = Table.read_table('us_perm_visas.csv').select("case_no", "case_status","class_of_admission",11, "decision_date","us_economic_sector")

In [10]:
Visa

case_no       | case_status       | class_of_admission | country_of_citzenship | decision_date | us_economic_sector
A-07323-97014 | Certified         | J-1                | ARMENIA               | 2012-02-01    | IT
A-07332-99439 | Denied            | B-2                | POLAND                | 2011-12-21    | Other Economic Sector
A-07333-99643 | Certified         | H-1B               | INDIA                 | 2011-12-01    | Aerospace
A-07339-01930 | Certified         | B-2                | SOUTH KOREA           | 2011-12-01    | Other Economic Sector
A-07345-03565 | Certified         | L-1                | CANADA                | 2012-01-26    | Advanced Mfg
A-07352-06288 | Denied            | EWI                | ECUADOR               | 2012-01-26    | Other Economic Sector
A-07354-06926 | Certified-Expired | H-1B               | MEXICO                | 2011-10-07    | Educational Services
A-08004-10147 | Denied            | E-2                | CANADA                | 2012-02-06    | Advanced Mfg
A-08004-10184 | Certified         | H-1B               | CANADA                | 2012-02-29    | IT
A-08010-11785 | Denied            | E-2                | PAKISTAN              | 2012-03-30    | Retail
... (2403 rows omitted)